[mysqld]
  expire_logs_days               = 1

  # GENERAL #
  default_storage_engine         = InnoDB
  bind-address                   = 0.0.0.0
  port                           = 3306
  # socket                         = /var/lib/mysql/mysql.sock
  pid_file                       = /var/lib/mysql/mysql.pid
  user                           = mysql

  character-set-server=utf8mb4
  collation-server=utf8mb4_general_ci

  # MyISAM #
  key_buffer_size                = 32M
  myisam_recover                 = FORCE,BACKUP

  # SAFETY #
  max_allowed_packet             = 16M
  max_connect_errors             = 1000000

  # DATA STORAGE #
  datadir                        = /var/lib/mysql

  # CACHES AND LIMITS #
  tmp_table_size                 = 32M
  max_heap_table_size            = 32M
  query_cache_type               = 0
  query_cache_size               = 0
  max_connections                = 500
  thread_cache_size              = 50
  open_files_limit               = 256
  table_definition_cache         = 4096
  table_open_cache               = 4096

  # INNODB #
  innodb_flush_method            = O_DIRECT
  innodb_log_files_in_group      = 2
  innodb_log_file_size           = 5M
  innodb_flush_log_at_trx_commit = 2
  innodb_file_per_table          = 1
  innodb_buffer_pool_size        = 6G

  # LOGGING #
  console                        = 1
  general_log                    = 1
  general_log_file               = /dev/stdout
  log_error                      = /dev/stderr
  slow-query-log
  slow_query_log_file            = /dev/stderr
  slow_query_log_use_global_control = log_slow_filter,log_slow_rate_limit,log_slow_verbosity,long_query_time
  long_query_time                = 0.100
  slow_query_log_timestamp_precision = microsecond
  slow_query_log_timestamp_always = 1
  log_slow_rate_type = query
  log_slow_admin_statements = 1
  log_slow_verbosity = standard

  # MISC #
  lower_case_table_names         = 2
